@import "../variables.scss";

.addProductBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  .cartButton {
    border: none;
    outline: none;
    background-color: $offBlack;
    color: white;
    font-weight: 600;
    width: 100%;
    font-size: 0.8rem;
    padding: 1.3rem 1rem;
    border: 1px solid $offBlack;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.8rem;
      color: white;
      z-index: 3;
      &:nth-child(1) {
        opacity: 1;
      }
      &:nth-child(2) {
        opacity: 0;
      }
    }
    .cartIcon {
      fill: white;
      z-index: 2;
      position: absolute;
      left: -10%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
    }
    .cartItem {
      fill: white;
      z-index: 3;
      position: absolute;
      left: -52%;
      top: -20%;
      transform: translate(-50%, -50%);
      font-size: 0.7rem;
    }
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
  .iconHolder {
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 7px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .favIcon {
      font-size: 1.7rem;
      z-index: 2;
      stroke: $offBlack;
      transition: 200ms ease-in;
      &.fill {
        fill: $offBlack;
      }
    }
    &:hover {
      .favIcon {
        fill: $offBlack;
      }
    }
    .clicked {
      animation-name: button-click;
      animation-duration: 0.7s;
    }
  }
}

.itemAdded {
  pointer-events: none;
  cursor: pointer;
  .cartIcon {
    animation: cart 1.5s ease-in-out forwards;
  }
  .cartItem {
    animation: box 1.5s ease-in-out forwards;
  }
  span {
    &:nth-child(1) {
      animation: add 1.5s ease-in-out forwards;
    }
    &:nth-child(2) {
      animation: added 1.5s ease-in-out forwards;
    }
  }
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

@keyframes cart {
  0% {
    left: -10%;
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40%,
  60% {
    left: 50%;
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes box {
  0%,
  40% {
    left: 51%;
    top: -20%;
  }
  60% {
    top: 40%;
    left: 51%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

@keyframes add {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

@keyframes added {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes button-click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
