.container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    .left {
        width: 100%;
        .imageGallery {
            display: flex;
            flex-direction:row;
            .gallery {
                display:flex;
                flex-direction: column;
                gap: .75rem;
                margin-right: 15px;
                .itemContainer {
                    position: relative;
                    width: 70px;
                    height: 70px;
                    &:hover { 
                        cursor: pointer;
                    }
                    img {
                        object-fit:contain;
                    }
                }
            }
            .imageContainer {
                position:relative;
                width: 500px;
                height: 550px;
                img {
                    object-fit:cover;
                }
            }
            
        }
        
    }
    
}