@import '../variables.scss';

.product {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    cursor: pointer;
    position: relative;
    height: fit-content;
    margin-bottom: 20px;
    min-width: 150px;

    .imageContainer {
        height: 350px;
        max-height: 350px;
        width: 100%;
        z-index: 1;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        background-color: lightgrey;

        img {
            position: absolute !important;
            object-fit: cover;
        }

        @media screen and (min-width: 768px) {
            height: 300px;
            max-height: 300px;
        }

        @media screen and (min-width: 1312px) {
            height: 350px;
            max-height: 350px;
        }

        .hoverImage {
            opacity: 0;
            visibility: hidden;
            transition: 200ms ease-in;
        }

        .lookButton {
            display: flex;
            align-items: center;
            position: absolute;
            left: 1.2rem;
            width: fit-content;
            border-radius: 1.5rem;
            padding: .5rem 1.2rem;
            font-weight: 600;
            bottom: 1.2rem;
            background-color: white;
            color: black;
            transition: 0;

            .icon {
                font-size: 1.5rem;
                margin-right: .8rem;
            }

            &:hover {
                opacity: .8;
            }
        }

        .iconHolder {
            position: absolute;
            top: .7rem;
            right: .8rem;
            background-color: white;
            border-radius: 50%;
            padding: 7px;
            width: 40px;
            height: 40px;
            displaY: flex;
            align-items: center;
            justify-content: center;

            .favIcon {
                font-size: 1.2rem;
                z-index: 2;
                margin-top: -1px;
                margin-left: 2px;
                stroke: $offBlack;
                transition: 200ms ease-in;

                &.fill {
                    fill: $offBlack;
                }
            }

        }

        &:hover {
            .hoverImage {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    h1 {
        font-size: .95rem;
        margin-top: 0.3rem;
        font-weight: 400;
        text-transform: capitalize;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 1px;
        @media screen and (min-width: 1312px) {
            font-size: 1.2rem;
            margin-top: 0.5rem;
        }
    }
    p {
        opacity: .4;
        font-weight: 700;
        @media screen and (min-width: 1312px) {
            margin-top:5px;
            font-size: .8rem;
        }
    }

    button {
        @include mainBtn();
    }
}