.basket__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    max-height: 13rem;
    .item__image {
        min-width: 120px;
        object-fit: cover;
        max-height: 11rem;
        width: 100%;
        cursor: pointer;
    }
    .basketItem__info {
        margin-left: 1rem;
        max-height: 11.5rem;
        .basketItem__name {
            font-weight: 400;
            font-family: 'Helvetica', sans-serif;
            text-transform: capitalize;
            font-size: 1.4rem;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
        .basketItem__price {
            font-weight: 300;
            color: grey;
            font-size: 1.1rem;
            margin-top: .5rem;
        }
        .quantity {
            display: flex;
            margin: .5rem auto;
            font-size: .85rem;
            p {
                font-weight: 400;
                font-size: .9rem;
            }
            .basketItem__quantity {
                margin-left: 1rem;
                outline: none;
                border: none;
                width: 20%;
                background: none;
            }
        }
        .basketItem__btns {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            width: 97.5%;
            bottom: .3rem;
            right: .2rem;
            .remove__button {
                text-align: left;
                outline: none;
                margin-top: -.3rem;
                margin-bottom: .5rem;
                border: none;
                background-color: #fcfcfc;
                font-size: .85rem;
                width: 100%;
                transition: 100ms ease-in;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .view__button {
                outline: none;
                border: none;
                background-color: #0c0c0c;
                color: white;
                font-size: .85rem;
                width: 100%;
                padding: .3rem .6rem;
                transition: 100ms ease-in;
                border: .5px solid #0c0c0c;
                &:hover {
                    background-color: #424242;
                    cursor: pointer;
                }
            }
        }
    }
    .item__gallery {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .basket__item {
        width: 97%;
        .basketItem__info {
            margin-left: 1.2rem;
            .basketItem__name {
                font-size: 1.2rem;
            }
            .basketItem__price {
                margin-top: .2rem;
                font-size: 1.1rem;
            }
            .quantity {
                p {
                    font-size: 1rem;
                }
                .basketItem__quantity {
                    font-size: 1rem;
                }
            }
            .remove__button {
                font-size: .85rem;
            }
        }
    }
}

@media screen and (min-width: 1312px) {
    .basket__item {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        .item__image {
            width: 250px;
        }
        .basketItem__info {
            margin-left: 1.3rem;
            width: 100%;
            .basketItem__name {
                font-size: 1.6rem;
            }
            .basketItem__price {
                margin-top: .5rem;
                font-size: 1.3rem;
            }
            .quantity {
                margin-top: 1rem;
            }
            .basketItem__btns {
                bottom: .3rem;
                display: flex;
                flex-direction: row;
                bottom: 0;
                justify-content: flex-end;
                .remove__button {
                    opacity: .8;
                    margin-right: 1rem;
                    margin-top: .35rem;
                    padding: 0;
                    width: 6rem;
                }
                .view__button {
                    text-align: center;
                    min-width: 7rem;
                    width: 30%;
                }
            }
        }
    }
}