@import '../variables.scss';

.container {
    width: 100%;
    display:flex;
    justify-content: flex-start;
    max-width: 1440px;
    margin: 0px auto;
    margin-top: 32px;
    .breadcrumbs {
        display:flex;
        align-items:center;
        height: 20px;
        list-style:none;
        li {
            display:flex;
            align-items:center;
            font-size: 14px;
            opacity: .6;
            &:hover {
                opacity: .6;
            }
            &:last-child {
                opacity: 1;
                font-weight: 600;
            }
            .icon {
                margin: 0 10px;
                font-size: 12px;
            }
        }
    }
}