.checkout__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: #fcfcfc;
    margin: 0 auto;
    position: relative;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 2rem;
    max-height: 13rem;
    .checkout__imageContainer {
        .checkout__itemImage {
            min-width: 120px;
            object-fit: cover;
            max-height: 11rem;
            width: 100%;
            cursor: pointer;
        }
    }
    .checkoutItem__info {
        margin-left: 1rem;
        max-height: 11.5rem;
        .checkoutItem__name {
            font-weight: 400;
            font-family: 'Helvetica', sans-serif;
            text-transform: capitalize;
            font-size: 1.4rem;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
        .checkoutItem__price {
            font-weight: 300;
            color: grey;
            font-size: 1.1rem;
            margin-top: .3rem;
        }
        .quantity {
            display: flex;
            margin: .5rem auto;
            font-weight: 400;
            font-size: .9rem;
        }
        .remove__button {
            outline: none;
            position: absolute;
            top: 2.5rem;
            right: 0rem;
            border: none;
            font-size: .85rem;
            background-color: #fcfcfc;
            transition: 100ms ease-in;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .checkout__item {
        width: 97%;
        .checkoutItem__info {
            margin-left: 1.2rem;
            .checkoutItem__name {
                font-size: 1.2rem;
            }
            .checkoutItem__price {
                margin-top: .2rem;
                font-size: 1.1rem;
            }
            .checkoutItem__quantity {
                display: flex;
                margin: .25rem auto;
                font-size: .85rem;
                .quantity {
                    display: flex;
                    margin: .25rem auto;
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
            .remove__button {
                outline: none;
                position: absolute;
                top: 3rem;
                right: 0rem;
                border: none;
                font-size: .85rem;
                background-color: #fcfcfc;
                transition: 100ms ease-in;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (min-width: 1312px) {
    .checkout__item {
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        margin-top: .5rem;
        .item__image {
            width: 250px;
        }
        .checkoutItem__info {
            margin-left: 1.3rem;
            width: 100%;
            .checkoutItem__name {
                font-size: 1.6rem;
            }
            .checkoutItem__price {
                margin-top: .5rem;
                font-size: 1.3rem;
            }
            .quantity {
                margin-top: 1rem;
            }
            .remove__button {
                opacity: .8;
                top: 1rem;
                right: 1.5rem;
                padding: 0;
                width: 6rem;
            }
        }
    }
}