.divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    width: 100%;
    padding: 0rem 0;
    border-radius: .3rem;

    @media screen and (min-width: 768px) {
        margin: 2rem 0;
    }

    @media screen and (min-width: 1312px) {
        margin: 2.3rem 0;
    }

    h2 {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 1.5rem;

        @media screen and (min-width: 768px) {
            font-size: 1.45rem;
        }

        @media screen and (min-width: 1312px) {
            font-size: 1.7rem;
            font-weight: 900;

        }
    }

    p {
        margin: .5rem 0;
        text-transform: capitalize;
        font-size: 0.8rem;
        font-weight: 400;
    }


}