.latest {
    display: grid;
    grid-template-columns: 48% 48%;
    max-width: 95%;
    grid-column-gap: 4%;
    margin: 0 auto;
    height:100%;
    margin-bottom:2rem;
    h1 {
        font-size: 1.6rem;
        font-family: 'Helvetica Neue', sans-serif;
    }
    .product {
        display:grid;
        grid-template-columns: 1fr;
        height: auto;
        cursor: pointer;
        position:relative;
        height:fit-content;
        margin-bottom: 20px;
        .imageContainer {
            overflow:hidden;

            z-index:1;
            margin:0 auto;
            img {
                position:static !important;
                object-fit:cover;
            }
        }
        h1 {
            font-size: .95rem;
            margin-top: 0.3rem;
            font-family: 'Helvetica', sans-serif;
            font-weight: 300;
            text-transform: capitalize;
            display: -webkit-box;
            max-width: 150px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        p {
            margin: .2rem 0;
            opacity: .8;
        }
        button {
            outline: none;
            border: none;
            background-color: #0c0c0c;
            color: white;
            font-size: .9rem;
            margin-top: .2rem;
            width: 100%;
            padding: .5rem 1rem;
            transition: 100ms ease-in;
            text-transform: capitalize;
            &:hover {
                background-color: #383838;
                cursor: pointer;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .latest {
        width: 94%;
        margin: 6rem auto;
        h1 {
            margin-bottom: 2rem;
        }
        .more__container {
            margin-top: 0;
            width: 100%;
            grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
            grid-gap: 1%;
        }
    }
}

@media screen and (min-width: 1312px) {
    .latest {
        width: 65%;
        margin: 6rem auto;
        h1 {
            margin-bottom: 3rem;
            font-size: 1.8rem;
        }
    }
    .more__container {
        width: 65%;
        margin: 3rem auto;
    }
}