@import '../variables.scss';

.overlay {
    display: none;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    z-index: 40;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: auto;
    height: 100%;
}

.show {
    display: block;
    visibility: visible;
    opacity: 1;
}

.active {
    transform: translateY(-1.3rem);
}