.options {

    @media screen and (min-width: 768px) {
        display: grid;
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1440px;
        gap: 2%;
    }
    .option {
        width: 100%;
        background-repeat: no-repeat;
        height: 12rem;
        background-size: 100%;
        background-position: 30%;
        border-radius: 3px;
        margin: 0 auto;
        transition: 200ms ease-in;
        position: relative;
        @media screen and (min-width: 1312px) {
            height:220px;
        }
        .imageContainer {
            height:100%;
            width: 100%;
            background-color: lightgrey;
            img {
                object-fit:cover;
            }
        }
        h1 {
            position: absolute;
            color: white;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 300;
            font-size: 1rem;
            display:none;
            padding: 0.4rem 1.1rem;
            background-color: #000000;
        }
        &:hover {
            opacity: .9;
            cursor: pointer;
            h1 {
                display:block;
            }
        }
    }
}
