.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position:relative;
    margin-right: 2rem;
    .searchWrapper {
        width: 100%;
        padding: .4rem;
        display:flex;
        border: 1px solid black;
        min-width: 400px;

        z-index: 9999;
        .searchIcon {
            font-size: 1.5rem;
            margin-left: .5rem;  
        }
        input {
            border:none;
            margin-left: 1rem;
            outline:none;
            width: 100%;
            z-index: 101;
        }
        .overlay {
            background-color: rgba(0,0,0,0.4);
            width: 100vw;
            height: 100vh;
            display:none;
            z-index:100;
            right: 0;
            bottom:0;
            top:0;
            left: 0;
            position:fixed;
        }
        input:focus + .overlay {
            display: block;
        }
    }

    .resultsList {
        position: absolute;
        top: 2.5rem;
        overflow:none;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color:white;
        display:flex;
        flex-direction: column;
        box-shadow:none;
        z-index: 101;
        .singleResult {
            padding: 0 1rem;
            padding-top: .7rem;
            padding-bottom: .7rem;
            font-size: .9rem;
            &:hover {
                background-color: #efefef;
                cursor: pointer;
            }
        }
    }
}



