@import '../variables.scss';

.slider {   
    margin-top: 135px;
    position:relative;

    .container {
        cursor: pointer;
        &:hover {
            opacity: .9;
        }
        .imageContainer {
            position:relative;
            width:98%;
            height: 300px;
            img {
                object-fit:cover;
            }
        }
    }
}

.nextArrow {
    display:flex;
    align-items:center;
    justify-content:center;
    width: 40px;
    height: 40px;
    position:absolute;
    top: -4.3rem;
    left: 4rem;
    
    background-color: $offBlack;
    &:hover {
        cursor: pointer;
        opacity: .9;
    }
    .arrow {
        color:white;
        stroke:white;
        font-size: 1.5rem;
        stroke-width: 3;
    }
}
.prevArrow {
    display:flex;
    align-items:center;
    justify-content:center;
    width: 40px;
    height: 40px;
    position:absolute;
    top: -4.3rem;
    left: 0;
    
    background-color: $offBlack;
    &:hover {
        cursor: pointer;
        opacity: .9;
    }
    .arrow {
        color:white;
        stroke:white;
        font-size: 1.5rem;
        stroke-width: 3;
    }
}
