@tailwind base;
@tailwind components;
@tailwind utilities;

.imageContainer {
  background-color: lightgrey;
}

.toast {
  .go2072408551 {
    margin-top: 8px;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid rgb(230, 230, 230);
  }
}