$offBlack: #0c0c0c;
$primaryColor: #0c0c0c;
@mixin mainBtn() {
    background-color: $offBlack;
    outline:none;
    border:none;
    padding: .6rem 1rem;
    width: 100%;
    font-size: .8rem;
    color: white;
    border: 2px solid $offBlack;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
    &:hover {
        opacity: .9;
        cursor: pointer;
    }
}